body{
    margin:0;
    padding:0;
}
.top-bar{
    background-color:#333;
}
.header{
    width:940px;
    padding: 10px;
    margin:auto;
    font-size:30px;
}
.logo-left{
    color:orange;
}
.logo-right{
    color:#fff;
}
.logo-version{
    display: inline-block;
    width: 30px;
    background-color: #00F;
    color: #FFF;
    font-size: 12px;
    margin-left: 30px;
    padding: 5px;
    border-radius: 5px;
}
.subtitle{
    display:block;
    color:#aaa;
    font-size:13px;
}
.content{
    margin:auto;
    padding:10px;
    width:940px;
}
.api-box{
    padding:20px;
    background-color:#eee;
    border-radius: 7px;
    margin-bottom: 30px;
}
.api-url{
    display:block;
    font-size: 16px;
    color: #111;
    margin-top:10px;
    margin-bottom: 20px;
    padding-bottom: 7px;
}
.api-url-prefix{
    color: blue;
    font-weight: bold;
}
.api-desc {
    color: #111;
    font-size: 18px;
    display: block;
    margin-top: 10px;
    border-bottom: 1px solid #aaa;
}

.params-title{
    font-weight: bold;
    
}

.params-table td{
    border-bottom: 1px dashed #aaa;
}
.params-table .left{
    width: 40%;
}

.param-name{
    display: block;
}

.param-required{
    color: #888;
    font-size: 10px;
}
.param-desc{
    display: block;
}
.param-example{
    color: #555;
    font-size: 10px;
}
.sep{
    clear: both;
    width:100%;
    display:block;
    height:30px;
}