[Unit]
Description=Retail Workload Orchestrator
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardError=null
StandardOutput=null
WorkingDirectory=/opt/rwo/compose
ExecStart=/bin/sh -c "if cat /etc/os-release | grep Clear > /dev/null; then sleep  $(awk \"BEGIN{print $((1 + RANDOM % 100)) / 10 + 40}\"); fi; /opt/rwo/bin/startrwo.sh"
ExecStop=/opt/rwo/bin/stoprwo.sh

[Install]
WantedBy=default.target
